{% extends 'base.html' %}
{% block content %}
 <div class="box-body" >
 	<h1> {{ name }} </h1>
        <div style="float: left;">
            <a href="/caixadeentrada"><button style="width: 180px; height: 40px;" type="button" class="btn btn-primary">Caixa de Entrada</button></a>
            <a href="/escrever"><button style="width: 100px; height: 40px;" type="button" class="btn btn-primary">Escrever</button></a>
            <a href="/"><button style="width: 100px; height: 40px;" type="button" class="btn btn-primary">Logout</button></a>
          </div>
    </div>
{% endblock %}
